.DS_Store
Semana6/.ipynb_checkpoints/aula_6_reducao_de_dimensionalidade_e_selecao_de_variaveis-checkp
oint.ipynb
Semana6/.ipynb_checkpoints/deafio_redu\303\247\303\243o_dimensionalidade_e_sele\303\247\30
3\243o_vari\303\241veis-checkpoint.ipynb
Semana6/.ipynb_checkpoints/notebook_semana6-checkpoint.ipynb
